footer{
    background-color: black;
    color: azure;
    margin: 10;
    padding: 30px 0px;
    margin-bottom: 0;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}
#bfooter{
    position: relative;
    margin-bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.logoimg{
    display: inline-block;
    box-sizing: border-box;
}